body {
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  min-width: 250px;
}

.box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.box:hover {
  opacity: 0.5;
}

.list-box {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.status {
  background-color: red;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: rgb(78, 78, 78);
  font-size: 13px;
}

.status-active {
  background-color: rgba(69, 209, 88, 0.247);
}

.status-rejected {
  background-color: rgba(209, 34, 34, 0.205);
}

.status-observed {
  background-color: rgba(70, 67, 255, 0.404);
}

.status-pending {
  background-color: rgba(255, 239, 9, 0.171);
}

.status-registered {
  background-color: rgba(255, 145, 0, 0.13);
}

.status-notexists {
  background-color: rgba(42, 212, 255, 0.295);
}

.status-circle {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-circle-active {
  background-color: rgb(69, 209, 88);
}

.status-circle-rejected {
  background-color: rgb(209, 34, 34);
}

.status-circle-observed {
  background-color: rgb(70, 67, 255);
}

.status-circle-pending {
  background-color: rgb(255, 239, 9);
}

.status-circle-registered {
  background-color: rgb(255, 145, 0);
}

.status-circle-notexists {
  background-color: rgb(42, 212, 255);
}

#notification {
  background: #c2ffde;
  padding: 10px;
  font-size: 12px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 5px;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  gap: 4px
}

#container-loading {
  display: flex;
  justify-content: center;
}

#envName {
  background: #bcffbe;
  font-size: 11px;
  padding: 3px;
  border-radius: 5px;
  font-style: italic;
}
